<% fillings = ["Carnitas","Al Pastor","Steak","Fish","Veggie"] %>
<% %>

<h1>I love tacos !!!!</h1>
<p>There are so many types of tacos</p>
<ul>
<li>Carnitas</li>
<li>Al Pastor</li>
<li>Cactus</li>
<li>Chicken</li>
</ul>